@model InquirySpark.Repository.Database.Application

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Application</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationCd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationCd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationShortNm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationShortNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MenuOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MenuOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationFolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationFolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefaultPageId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefaultPageId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationType.ApplicationTypeNm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company!.Address1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApplicationId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
