@using WebSpark.Bootswatch.Services
@using WebSpark.Bootswatch.Helpers
@inject StyleCache StyleCache
@{
    var currentYear = DateTime.Now.Year.ToString();
}
<!DOCTYPE html>
<html lang="en" data-bs-theme="@(BootswatchThemeHelper.GetCurrentColorMode(Context))">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Mwh.Sample.Core.WebApi - Mark Hazleton">
    <meta name="author" content="Mark Hazleton">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <title>@ViewData["Title"] - InquirySpark Admin</title>

    @{
        var themeName = BootswatchThemeHelper.GetCurrentThemeName(Context);
        var themeUrl = BootswatchThemeHelper.GetThemeUrl(StyleCache, themeName);
    }
    <link id="bootswatch-theme-stylesheet" rel="stylesheet" href="@themeUrl" />
    
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="~/lib/datatables/css/dataTables.bootstrap5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/responsive.bootstrap5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/buttons.bootstrap5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/select.bootstrap5.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/datatables/css/searchPanes.bootstrap5.min.css" asp-append-version="true" />
    
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("HeadScripts", required: false)
</head>
<body id="page-top">
<header>
    @await Html.PartialAsync("/Views/Shared/_nav.cshtml")
</header>
<main role="main" class="content-container pb-3">
    <section class="container-fluid pt-4 mt-4 mb-4 pb-4">
        @RenderBody()
    </section>
</main>




    @await Html.PartialAsync("/Views/Shared/_Footer.cshtml")

    <!-- jQuery (required for DataTables) -->
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    
    <!-- Bootstrap Bundle (JavaScript only - CSS from Bootswatch theme) -->
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    
    <!-- JSZip (required for Excel export) -->
    <script src="~/lib/jszip/jszip.min.js" asp-append-version="true"></script>
    
    <!-- PDFMake (required for PDF export) -->
    <script src="~/lib/pdfmake/pdfmake.min.js" asp-append-version="true"></script>
    <script src="~/lib/pdfmake/vfs_fonts.js" asp-append-version="true"></script>
    
    <!-- DataTables Core -->
    <script src="~/lib/datatables/js/dataTables.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
    
    <!-- DataTables Extensions -->
    <script src="~/lib/datatables/js/dataTables.responsive.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/responsive.bootstrap5.min.js" asp-append-version="true"></script>
    
    <script src="~/lib/datatables/js/dataTables.buttons.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/buttons.bootstrap5.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/buttons.html5.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/buttons.print.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/buttons.colVis.min.js" asp-append-version="true"></script>
    
    <script src="~/lib/datatables/js/dataTables.select.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/select.bootstrap5.min.js" asp-append-version="true"></script>
    
    <script src="~/lib/datatables/js/dataTables.searchPanes.min.js" asp-append-version="true"></script>
    <script src="~/lib/datatables/js/searchPanes.bootstrap5.min.js" asp-append-version="true"></script>
    
    <!-- Site JS -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    <!-- Bootswatch Theme Switcher - Load after Bootstrap -->
    <script src="/_content/WebSpark.Bootswatch/js/bootswatch-theme-switcher.js" defer></script>
    
    @RenderSection("Scripts", required: false)
</body>
</html>